
<%= dc_page_top %>
<!--
<div class="top-bar top2">
  <div class="wrap">
    <div class="login top-bar-right"><%= dc_render(:common, method: 'login') %></div>
  </div>
</div>
-->

<nav class="top-bar">
  <div class="wrap">
    <div class="top-bar-title">
      <a href="/">DRG<sup>CMS</sup></a>
    </div>

    <div class="top-bar-right">
      <ul class="menu">
      <%= dc_render(:dc_simple_menu, method: :as_responsive, name: 'drgcms-menu') %>
      </ul>
    </div>
  </div>
</nav>
<div style="clear: both;"></div>

<div class="main" style="padding-top: 4rem;">
  <%= dc_render_design_part(@main) %>
</div>

<footer>  
  <div class="wrap row">
    <div class="column small-12 medium-4">
      <h3>Links:</h3>
      <hr>
      <a href="https://groups.google.com/forum/#!forum/drg-cms">DRG CMS discussion forum</a><br><br>
      <a href="https://github.com/drgcms">DRG CMS project on GitHub</a>
    </div>
    <div class="column small-12 medium-4">
      <h3>Last news:</h3>
      <hr>
      <%= dc_render(:dc_news, method: 'last_news') %>
    </div>
    <div class="column small-12 medium-4">
      <h3>Last blogs:</h3>
      <hr>
      <%= dc_render(:dc_blog, method: 'last_blogs') %>
    </div>
  </div>
    
  </div>
</footer>
</div>

<%= dc_page_bottom %>
<%= dc_render(:dc_common, method: 'google_analytics') %>
