<div>
<%= paginate plugins %>

<% for plugin in plugins %>
  <div class="plugin">
    <%= link_to("/plugins?p_id=#{plugin._id}&method=show") do %>
      <h2><%= plugin.name %> <%= plugin.version %></h2>
    <% end %>
    <div class="plugin-info">
      <%= plugin.info %>
    </div>
  </div>
<% end %>

<%= paginate plugins %>
</div>