<!DOCTYPE html>
<html class="no-js" lang="en">
<head>
  <title><%= @page_title.gsub(/\[|\]/,'') unless @page_title.blank? %></title>
  <%= dc_get_seo_meta_tags %>  
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <style type="text/css" media="all"><%= "#{@site&.css}#{@design&.css}\n#{@page&.css}".html_safe %></style>

  <%= @site&.header.html_safe %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  <%= dc_get_json_ld %>
  <%= dc_render(:dc_common, method: 'google_analytics') %>
</head>

<body>
<%= yield %>
</body>
</html>
